@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fromBottom {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fromTop {
    0% {
        transform: translateY(-100%);
        opacity: 0;
        background-color: transparent;
    }

    99.99% {
        background-color: transparent;
    }

    100% {
        transform: translateY(0rem);
        opacity: 1;
    }
}

@keyframes waveUp {

    0% {
        background-position-y: clamp(-20px, 30%, 50%);
    }

    50% {
        background-position-y: clamp(20px, -30%, -50%);
    }

    100% {
        background-position-y: clamp(-20px, 30%, 50%);
    }
}

#wave-01 {
    animation: waveUp .2s infinite ease-in-out;
} 

.wave-up {
    animation-name: waveUp;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-duration: 4s;
}