body {
    background-color: var(--background);
}

/* HEADER */
.header {
    position: sticky;
    top: 0;
    margin-top: 4rem;
    padding: 1.8rem 1.2rem;
    background-color: var(--background);
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 5;

    animation: fromTop 4s 1;

    transition: transform, opacity .8s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.header * {
    backface-visibility: hidden;
}

.navigation {
    display: flex;
    justify-content: flex-end;
    width: 70vw;
}

.navigation__list {
    display: flex;
    gap: 3.2rem;
}

.navigation__item * {
    transition: all .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.navigation__link:link,
.navigation__link:visited {
    color: var(--text);
}

.navigation__link:hover:not(.contact__btn) {
    text-decoration: underline;
}

/* MAIN */

.hero {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom, var(--background
    ) 10%, rgba(0, 0, 0, 0.904)), url(../img/hero.jpg);
    background-size: cover;
    background-position: center;
    padding: 0 var(--md-spacing);
}

.hero__text {
    margin-bottom: var(--lg-spacing);
    display: flex;
    flex-direction: column;
    row-gap: var(--xs-spacing);
}

.hero__title {
    font-size: 8rem;
    font-weight: 700;
    letter-spacing: -.1rem;
    font-family: var(--text-header);
    animation: fadeIn 6.4s 1;
    transition: opacity .2s ease-in;
}

.hero__span {
    background-image: linear-gradient(120deg, var(--primary), var(--accent));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero__subtitle {
    font-family: var(--text-font);
    animation: fromBottom 4s;
    transition: transform, opacity .4s cubic-bezier(1, 0, 0, 1);
}

/* Wrapper */

.wrapper__content {
    min-height: 100vh;
    padding: 12.8rem;
    margin-block: 64rem;
    border: white 2px solid;
}

.content__text {
    font-size: 1.75rem;
    margin-block: 2em;
    margin-inline: 4em;
}

/* About */

.about::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-position-y: 0%;
    background-image: url(../img/layered-waves-haikei.svg);
    background-size: cover;
    background-repeat: no-repeat;
    transform-origin: bottom;
    animation: waveUp 10s infinite forwards;
}

.about {
    transition: transform .2s ease-in;
    position: relative;
}

/* TECH */
.section__tech {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.tech__wrapper {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    place-items: center;
    justify-items: center;
    justify-content: center;
    padding: var(--lg-spacing);
    background-color: var(--secondary);
    margin: 0 auto;
    gap: var(--sm-spacing);
    width: fit-content;
    border-radius: 1.6rem;
}

/* FOOTER */

.footer {
    border-top: var(--accent) solid .2rem;
    width: 100%;
    padding: 64rem;
    display: grid;
    place-items: center;
}