body {
    background-color: var(--background);
}

/* HEADER */
.header {
    position: sticky;
    top: 0;
    margin-top: 4rem;
    padding: 1.8rem 1.2rem;
    background-color: var(--background);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navigation {
    display: flex;
    justify-content: flex-end;
    width: 70vw;
}

.navigation__list {
    display: flex;
    gap: 3.2rem;
}

.navigation__item * {
    transition: all .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.navigation__link:link,
.navigation__link:visited {
    color: var(--primary);
    font-weight: 600;
    isolation: isolate;
}

.navigation__link:hover {
    color: var(--accent);
}

.navigation__item:hover {
    transform: translateY(-.24rem);
}

/* MAIN */


/* Wrapper */

.wrapper {
    padding: clamp(6.4rem, 15%, 12vw);
}

.wrapper__content {
    min-height: 80vh;
    padding: 4.8rem 8rem;
    border-radius: 1.6rem;
    margin: 6.4rem auto;
}

.wrapper .wrapper__content:nth-child(even) {
    background-color: var(--secondary);
}

/* FOOTER */

.footer {
    width: 100%;
    padding: 6.4rem;
}