body {
    font-size: 2.5rem;
    color: var(--text);
    line-height: 1.6;
    font-family: var(--text-font);
}

/* HEADER */

.header {
    font-size: 1.75rem;
}

h1, h2, h3, h4, h5 {
    font-family: var(--text-header);
}

/* TECH SECTION */
.tech__title {
    font-weight: 400;
    font-size: 2.15rem;
    letter-spacing: .15ch;
}